html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    padding: 50px 20px;
}

header {
    height: 300px;
    width: 100%;
}

h1 {
    font-size: 5.5rem;
    font-family: Bebas Neue Cyrillic;
    color: #336699;
}

hr {
    color: #1a2b4c;
    width: 80%;
    height: 2em;
    justify-content: center;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 3.5rem;
    color: #1a2b4c;
    text-align: justify;
}

ul li {
    font-size: 3.5rem;
    font-family: Roboto, sans-serif;
    color: #1a2b4c;
    text-align: justify;
}

a {
    color: #336699;
}

a:hover {
    color: #b0b5ba;
}

footer {
    background-color: #336699;
    height: 200px;
    width: 100%;
    font-size: 3.5rem;
    border-top: 1.5rem solid #1a2b4c;
    padding: 2rem;
    text-align: center;
}

.navigation {
    background-color: #336699;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-size: 3em;
    color: #b0b5ba;
    line-height: 2; 
    padding: 10px;
    border-bottom: 1.5rem solid #1a2b4c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #b0b5ba;
}

.hero img {
    width: 100%;
    height: 300px;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.locations {
    font-family: 'Arial', sans-serif;
    font-size: 3.5rem;
    color: #333;
    text-align: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.locations span {
    display: inline;
    margin: 0 0.3rem;
    white-space: nowrap;
}

.button-link {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #1a2b4c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2rem;
    height: 4rem;
    width: auto;
}

.button-link:hover {
    background-color: #e9e9e9
}

.contact-cta p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
}

.contact-button {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    background-color: #1a2b4c;
    height: 3rem;
    width: auto;
    color: #e9e9e9;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.contact-button:hover {
    background-color: #9e9e9e
}

.gallery {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.gallery h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #E7aa51;
}

.description {
    margin-bottom: 4rem;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.images img {
   width: 100%;
   max-width: 550px;
   height: auto;
   border-radius: 8px;
   object-fit: cover; 
}

.project-info {
    margin-top: 1rem;
    text-align: center;
}

.project-info h3 {
    font-size: 3rem;
    color: #ffe499;
    margin-bottom: 1rem;
}

.project-info p {
    font-size: 2rem;
    color: #333
}

@media (min-width: 768px) {
    .hero img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {   
    .locations {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

@media (max-width: 768px) {
    .images {
        flex-direction: column;
        justify-content: center;
    }

    .project-info h3 {
        font-size: 2.5rem;
    }

    .project-info p {
        font-size: 1.8rem;
    }
}
